services:
  backend:
    build: ./backend
    image: my-task-board-nestjs:dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: /bin/sh -c "npm run db:deploy && npm run start:dev"
    env_file:
      - .env.development
    depends_on:
      db:
        condition: service_healthy
  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    volumes:
      - db-store:/var/lib/postgresql/data
    env_file:
      - .env.development
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 5s
      timeout: 5s
      retries: 5
  cache-db:
    image: valkey/valkey:8.1-alpine
    ports:
      - "6379:6379"
    env_file:
      - .env.development

volumes:
  db-store:
