services:
  backend:
    build: ./backend
    image: my-task-board-nestjs:dev
    ports:
      - "3000:3000"
    volumes:
      - ./backend:/app
      - /app/node_modules
    command: npm run start:dev
    env_file:
      - .env.development
    depends_on:
      - db
  db:
    image: postgres:15-alpine
    ports:
      - "5432:5432"
    volumes:
      - db-store:/var/lib/postgresql/data
    env_file:
      - .env.development
  cache-db:
    image: valkey/valkey:8.1-alpine
    ports:
      - "6379:6379"
    env_file:
      - .env.development

volumes:
  db-store:
